* {
    margin: 0;
    padding: 0;
}
.agrupar{
    width: 960px;
    
}
header{
    background: rosybrown;
    color:white;
    text-align: center;
}
nav{
    background: #ffc34b;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}
nav li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}
section{
    background: #e0489f;
    margin: 20px;
    width: 600px;
    float: left;
    padding: 20px;
    border: 1px solid black;
}
img{
    width: 190px;
    float: left;
    padding: 0px;
    border: 5px solid white;
    
}
.articulo1{
    width: 560px;
    float: right;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 15px;
}

.articulo2{
    width: 560px;
    float: left;
    border: 1px solid black;
    padding: 20px;
    
}



article {
    background: #00c0d9;
    color: white;
}
aside {
    background: #6eeb83;
    border: 1px solid black;
}
aside h2{
    text-align: center;
}
aside ul li {
    padding: 10px;
}
aside p {
    padding: 20px;
    text-align: center;
}
aside ul{
    padding: 20px;
    list-style: none;
    text-align: center;
}
footer{
    background: #4f9ced;
    clear: both;
    
}